* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: var(--white-shade);
    background-color: var(--primary);
}

:root {
    --primary: #FF746C;
    --primary-dark: #FF2F23;
    --secondary: antiquewhite;
    --confirm: #70BDB4;
    --white-shade: whitesmoke;
    --shadow-dark: rgba(0,0,0,0.5);
    --fontSize: 16px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fontSize);
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 45px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    text-align: center;
    color: whitesmoke;
}

header h2 {
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
}

a {
    text-decoration: none;
    color: var(--white-shade);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    font-weight: 700;
    font-size: 1.5rem; 
}

header nav span {
    cursor: pointer;
}

.modal.mostrar {
    opacity: 1;
    visibility: visible;
    transform: translateY(30px) ;
}

.modal {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background-color: var(--white-shade);
    border-radius: 100%;
    box-shadow: 3px 3px 1px var(--shadow-dark);
    min-height: 80px;
    min-width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity ease 0.2s, visibility ease 0.2s, transform ease 0.2s;
}

.guia-uso.mostrar {
  opacity: 1;
  visibility: visible;
  height: 100%; 
  overflow: hidden;
}

.guia-uso {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: var(--shadow-dark);
    min-width: 300px;
    width: 100%;
    height: 100%;
    padding: 50px;
    text-align: left;
    font-size: 1.3rem;   
    transition: opacity ease 0.3s, visibility ease 0.3s;
}

.guia-uso .contenedor-guia {
    top: 100vh;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--shadow-dark);
}

.guia-uso h3 {
    background-color: var(--primary);
    color: var(--white-shade);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.guia-uso .guia-botones {
    margin-bottom: 10px;
}

.guia-uso .fondo-cuadro {
    background-color: var(--white-shade);
    padding: 40px;
}

.guia-uso ul {
    padding-left: 30px;
}

.guia-uso ul span{
    font-weight: bold;
}

.guia-uso .cerrar-guia {
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &:hover {
        background-color: var(--primary-dark);
    }
}

.guia-uso .primer-parrafo {
    margin-bottom: 10px;
}

.guia-uso .ultimo-parrafo {
    margin-top: 10px;
}

main {
    background-color: var(--secondary);
    padding: 30px;
    width: 100%;
    height: 100%;
}

main > section {
    max-width: 800px;
    margin: auto;
}

main .temporizador {
    background-color: var(--white-shade);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 7px 7px 7px var(--shadow-dark);
}

main .temporizador .barra {
    height: 10px;
    background: var(--primary);
}

main .temporizador .numeros {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    align-items: center;
}

main .temporizador .numeros .minutos {
    font-size: 5rem;
}

main .temporizador .numeros .segundos {
    font-size: 3rem;
}

main .temporizador .numeros .divisor-numeros {
    color: rgba(0,0,0,0.3)
}

.mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--primary);
    height: 30px;
    margin-bottom: 5px;
}

.mensaje .temp-msj {
    place-content: center;
    height: 100%;
    width: 100%;
}

.mensaje .temp-msj-valor {
    font-weight: normal;
}

.mensaje .ciclo-msj {
    place-content: center;
    height: 100%;
    width: 100%;
}

.mensaje .ciclo-msj-valor {
    font-weight: normal;
}

.mensaje .ciclosT-msj {
    place-content: center;
    height: 100%;
    width: 100%;
}

.mensaje .ciclosT-msj-valor {
    font-weight: normal;
}

main .temporizador .acciones {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.boton-primary {
    width: 100%;
    min-height: 30px;
    background-color: var(--primary);
    border: none;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.2s;
}

main .temporizador .acciones button{
    &:first-child {
         border-bottom-left-radius: 10px; 
         border-right: 1px solid var(--white-shade);
    }
    &:last-child {
        border-bottom-right-radius: 10px;
        border-left: 1px solid var(--white-shade);
    }
    &:hover {
        background-color: var(--primary-dark);
    }
}
main .temporizador .acciones button span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.parpadeo {
    animation: blink 1s step-start infinite
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.cambiar-temporizador {
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 7px var(--shadow-dark);
}

.cambiar-temporizador h2 {
    text-align: center;
    background: var(--primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--white-shade);
    padding: 5px;
    font-size: 1.5rem;
}

.cambiar-temporizador .inputs{
    background-color: var(--white-shade);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cambiar-temporizador label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cambiar-temporizador input {
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 5px;
    min-height: 30px;
    text-align: center;
    box-shadow: 1px 1px 1px var(--shadow-dark);
    &:focus {
        outline: none;
        border: 2px solid var(--primary-dark);
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.cambiar-temporizador .confirmar-cambios {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &:hover {
        background-color: var(--primary-dark);
    }
}

.error-modal {
    color: var(--primary-dark);
    border: 5px solid var(--primary-dark);
}

.inputMinutos.error, .inputMinutosDescanso.error, .inputMinutosDescansoLargo.error {
    border: 2px solid var(--primary-dark);
} 

.info {
    color: var(--confirm);
    border: 5px solid var(--confirm);
}

.ocultar.error {
    display: none;
}

@media screen and (max-width: 600px){
    html {
        font-size: 0.8rem; /* 12.8px */
    }
}

@media screen and (max-width: 800px){
    .mensaje {
        height: auto;
        margin-bottom: 10px;
        flex-direction: column;
    }

    .mensaje p {
        margin-top: 10px;
    }
}